.title {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 80px; 
    }
.body {
margin-top: 30px;
margin-bottom: 20px;
display: flex;
justify-content: center;
align-items: center;
}
.form-property {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px; 
    padding: 10px;
    border-radius: 40px;
    border: 5px solid #007bff; /* Blue border */
    background-color: white; /* White background */
    margin-bottom: 10px; /* Added margin bottom */
}
.loadingSpinner {
caret-color: transparent;
border: 16px solid white; /* White */
border-top: 16px solid #007bff; /* Blue */
border-radius: 50%;
margin-left: auto;
margin-right: auto;
width: 30px;
height: 30px;
animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.middle-divs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; /* adjust as needed */
}

.status-box {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px; 
    width: 400px;
    height: 200px;
    border: 10px solid #007bff;;
    border-radius: 40px;
    padding: 10px;
    background-color: white; /* White background */
    margin: 20px;
}
