<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your website description">
    <meta name="author" content="Max, Zak, Jackson, Hubi, Alfie, Dan">

    <!-- Add your title here -->
    <title></title>

    <!-- Link to your custom CSS file -->
    <link rel="stylesheet" href="styles.css">

    <!-- Add any additional head elements you need (e.g., favicons, meta tags) -->

</head>

<body>
    <div class="form-container">
            <form class="form">
                <input id="search" type="text" class="input" placeholder="search..."/>
                <button id="searchButton">Search</button>
            </form>

    </div>


    <script src="../src/index.js"></script>

</body>

</html>
