<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="This website was created for the Team Software Module 2024!">
        <meta name="author" content="Max, Zak, Jackson, Hubi, Alfie, Dan">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    
        <title>Team Software</title>
    
    
    </head>
    <body style="background-color:rgb(125, 191, 232);">
        <div>
            <h1 class="title">Sentiment Analysis</h1>
        </div>
        
        <div class="container">
            <div id="tweet">{{tweet | safe}}</div>
            <div class="middle-divs">
    
                <div id="nb" class="status-box">Naive Bayes 
                    <br> <!-- Line break -->
                    <br> <!-- Line break -->
                    <br> <!-- Line break -->
                    <span id="nb-sentiment">Loading...</span>
                </div>
                <div id="nn" class="status-box">Neural Network                     
                    <br> <!-- Line break -->
                    <br> <!-- Line break -->
                    <br> <!-- Line break -->
                    <span id="nn-sentiment">Loading...</span>
                </div>
    
            </div>
        </div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    
    </body>
</html>